.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 50px;
}

.landing {
    background-color: var(--background-grey);
    padding-top: 50px;
}

.title {
    color: var(--text-color-blue);
    margin-bottom: 20px;
    margin-right: 20px;
}

.btnContainer {
    max-width: 90px;
    display: inline-block;
    width: 100%;
}

.group {
    display: flex;
    width: 100%;
}