    .label {
        margin-bottom: 25px;
        color: var(--text-color-grey);
        font-weight: 500;
        width: 100%;
    }
    
    .input {
        display: block;
        outline: none;
        border: 2px solid var(--text-color-blue);
        border-radius: 20px;
        padding: 5px;
        margin-top: 5px;
        width: 100%;
        background-color: var(--background-grey);
    }
    
    .input:focus {
        box-shadow: 2px 2px;
    }